ul {
	list-style-type: none;
}
body
{ background: black;
	background-image: url("Image/Fontaines\ Gir.jpg") ;
	background-attachment: fixed;
	background-position:50% 100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-image:  0.5;
}
nav  {
	display: flex;
	background:linear-gradient(45deg, rgb(156,14,156), midnightblue) ;
	margin-top: 50px;
	border: 1px solid black;
	border-radius: 25px;
	padding: 0;
}
img {
	width: 50px;
	height: 50px;
	border: 1px solid black;
	border-radius: 25px;
} 
.header {
display: flex;
width: 350px;
margin: auto;
padding-top: 5px;
text-align: center;
border: 1px solid white;
border-radius: 25px 25px 25px 25px;
opacity: 0.8;
}
form  {display: block;
  margin: auto;
	padding: 25px;
	margin-bottom: 150px;
	border: 1px solid black;
	border-radius: 25px;
	background:linear-gradient(45deg, rgb(156,14,156), midnightblue) ;;
	width: 400px;
	height: auto;
}
#Img_1 {
	width: 200px;
	height: 100px;
}
#Img_2 {
	width: 200px;
	height: 100px;
}
#Img_3 {
	width: 200px;
	height: 100px;
}
#Img_4 {
	width: 200px;
	height: 100px;
}
.navbar-toggler {
	border: 1px solid black;
	border-radius: 15px;
	opacity: 0.5;
	margin: auto;
	padding: auto;
}
.navbar-brand {
	font-size: 16px;
}
main    {
	padding-top: 20px;
	display: block;
	margin:auto ;
}
section {
	padding-top: 10px;
	opacity: 0.8;
	text-align: center;
	display: block;
	margin:auto ;
	width: 400px;
	height: auto;
	background: #808080;
	border: 1px solid white;
	border-radius: 25px 25px 25px 25px;
}

p , h1 , h2 {display: flex;
	padding-top: 10px;
	text-align: center;
	display: block;
	margin:auto ;
	width: 380px;
	height: auto;	
	position: center;
	color :white;
	font-weight: bold;
}
footer  
	{ 
  background: tomato;
	color: white;
	text-align: center;
	height: auto;
	padding-left: 10px;
}
.footer__list {
	list-style-type: none;
	display: flex;
  position: relative;
	justify-content: space-around;
	width: 400PX;
	margin: auto;
}
.footer__link {
	color: white;
}
svg { 
	width: 30px;
	height: 30px;
}
@media not screen and (max-width: 1200px)  {
	p , h1 , h2  {
		display: block;
		width: 650px;
	  height: auto;
    margin: auto;
	}
}
@media not screen and (max-width: 1200px)  {
	section  {
		display: block;
		width: 700px;
	  height: auto;
    margin:auto ;
	}
}
@media not screen and (max-width: 1200px) and (min-width: 320px)   {
	img  {
		margin-top:10px;
	}
}
@media screen and  (max-width:500px){
  .list {
    flex-direction: column;
    height: 200px;
  }
  .items:nth-child(1){
    border-top:1px solid #fff ;
    margin-top: 50px;
  }
  .items {
    height: 50px;
    width: 100%;
    border-bottom:1px solid#fff ;
    line-height: 50px;
  }
  .btn {
    display: block;
    position: absolute;
    right: 10px;
    top:10px ;
    color: #333;
    cursor: pointer;
  }
}
@media screen and  (max-width:500px){
	aside > .aside
	   { 
	    	position: inherit;
  	}
}