ul > li > img {display: inline;
  height: 100px;
  width: 100px;
	border:1px solid gray ;
	border-radius: 1px;
}
ul > li {display: inline-block;
	position: relative;
	width: 520px;
	height: auto;
	font-size: 16px;
}
body
{ background: black;
	background-image: url("Image/fond.jpg") ;
	background-attachment: fixed;
	background-position:50% 100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-image:  0.5;
}
nav  {display: none;
	margin-top: 50px;
	height: 50px;
	border: 1px solid black;
	border-radius: 25px;
}
img {
	border: 1px solid black;
	border-radius: 100px;
} 
.navbar-toggler {
	
	border: 1px solid black;
	border-radius: 15px;
	opacity: 0.5;
	margin: -10px;
	padding: auto;

}

section {
	opacity: 0.8;
	text-align: center;
	display: block;
	margin:auto ;
	width: 700px;
	height: 700px;
	background: grey;
	border: 1px solid white;
	border-radius: 25px 25px 5px 25px;
}
.navbar-brand {
	font-size: 70px;
}
main    {
	padding-top: 20px;
	display: block;
	margin:auto ;
}
p , h1 , h2 {
	text-align: center;
	display: block;
	margin:auto ;
	width: 650px;
	height: auto;
	
	position: center;
	color :white;
	font-weight: bold;
}
.img 
{
	display: block;
	margin:auto ;
	width: 450px;
	height: auto;	
}
ul 
{
	display: flexbox contents;
	margin-left: 10px;
	width: 450px;
	height: auto;	
	color: white;
	font-size: 18px;
}

footer  {
	margin: auto;
	color: white;
	text-align: center;
	width: 400px;
	height: 50px;
	padding: 10px;
	
}
