body {
    background-image: url("Image/Fontaines\ Gir.jpg") ;
    position: initial;
    background-attachment: fixed;
    background-position:50% 100%;
    background-repeat: no-repeat;
    background-image:  0.5;
     }
img { border-radius: 37.5px;}
main {
      display: block;
      width: 400px;
      height: auto;
      border: 1px solid purple;
      border-radius:20px;
      margin: auto;
      color:white;
      text-align: center;
      background:linear-gradient(45deg, rgb(156,14,156), midnightblue) ;
      opacity: 0.8;   
      padding: auto;  
     }
.styled {
  border: 0;
  line-height: 2;
  padding: 0 20px;
  font-size: 0.8rem;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px black;
  border-radius: 10px;
  background-color: rgb(246, 245, 245);
  background-image: linear-gradient(to top left,
                                    rgba(43, 42, 42, 0.2),
                                    rgba(148, 146, 146, 0.2) 30%,
                                    rgba(248, 246, 246, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
              outline: none;
}

.styled:hover {
  background-color: rgb(245, 237, 237);
  outline: none;
}

.styled:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
              outline: none;
}
